{% extends "base.html" %}

{% block content %}
<h2>Search for a Movie</h2>
<form method="get" action="{% url 'reviews:movie_search' %}">
    <input type="text" name="query" placeholder="Enter movie title">
    <button type="submit">Search</button>
</form>

{% if movie_data %}
    <h3>Results:</h3>
    <ul>
        {% for movie in movie_data.results %}
            <li>
                <a href="{% url 'reviews:movie_detail' movie_id=movie.id %}">
                    {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                    {% endif %}
                    {{ movie.title }} - Released: {{ movie.release_date }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if popular_movies %}
    <h3>Popular Movies:</h3>
    <ul>
        {% for movie in popular_movies %}
            <li>
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                <strong>{{ movie.title }}</strong> - Released: {{ movie.release_date }}
                <p>{{ movie.overview }}</p>
                <a href="{% url 'reviews:movie_detail' movie.id %}">More Details</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

