{% extends "base.html" %}

{% block content %}
<h1>Top Plot Twists</h1>
<div class="movies">
    {% if plot_twists_with_movies %}
        {% for plot_twist, movie in plot_twists_with_movies %}
            <div class="movie-block">
                <!-- Clickable movie title and poster -->
                <a href="{% url 'reviews:movie_detail' movie_id=movie.id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Poster for {{ movie.title }}" class="movie-poster">
                    <h4 class="title">{{ movie.title }}</h4>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No plot twists have been submitted yet.</p>
    {% endif %}
</div>

<h1>Top Rated Movies</h1>
<div class="movies">
    {% if top_rated_movies %}
        {% for movie in top_rated_movies %}
            <div class="movie-block">
                <!-- Clickable movie title and poster -->
                <a href="{% url 'reviews:movie_detail' movie_id=movie.id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" class="movie-poster">
                    <h4 class="title">{{ movie.title }}</h4>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No top rated movies found.</p>
    {% endif %}
</div>
{% endblock %}


