{% extends "base.html" %}

{% block content %}
<h1>Top Plot Twists</h1>
{% if plot_twists_with_movies %}
    <div class="plot-twists">
        {% for plot_twist, movie in plot_twists_with_movies %}
            <div>
                <h3>{{ plot_twist.description }}</h3> <!-- Assuming description should be shown as title -->
                <p>- Votes: {{ plot_twist.votes }}</p>
                <h4>{{ movie.title }}</h4>
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Poster for {{ movie.title }}">
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No plot twists have been submitted yet.</p>
{% endif %}

<h1>Top Rated Movies</h1>
{% if top_rated_movies %}
    <div class="movies">
        {% for movie in top_rated_movies %}
            <div>
                <a href="{% url 'reviews:movie_detail' movie.id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                    <h2>{{ movie.title }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No top rated movies found.</p>
{% endif %}
{% endblock %}
