{% extends "base.html" %}

{% block content %}
<h1>Top Plot Twists</h1>
{% if plot_twists_with_movies %}
    <div class="plot-twists">
        {% for plot_twist, movie in plot_twists_with_movies %}
            <div>
                <!-- Clickable movie title and poster -->
                <a href="{% url 'reviews:movie_detail' movie_id=movie.id %}">
                    <h4>{{ movie.title }}</h4>
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Poster for {{ movie.title }}" style="width: 100px; height: 150px;">
                </a>
                <h3>{{ plot_twist.description }}</h3>
                <p>Votes: {{ plot_twist.vote_count }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No plot twists have been submitted yet.</p>
{% endif %}

<h1>Top Rated Movies</h1>
{% if top_rated_movies %}
    <div class="movies">
        {% for movie in top_rated_movies %}
            <div>
                <!-- Clickable movie title and poster -->
                <a href="{% url 'reviews:movie_detail' movie_id=movie.id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" style="width: 100px; height: 150px;">
                    <h2>{{ movie.title }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No top rated movies found.</p>
{% endif %}
{% endblock %}

