body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #20232a;
    color: #61dafb;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #61dafb;
    margin-right: 20px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #20232a;
    color: white;
}

ul.messages {
    list-style-type: none;
    padding-left: 0;
}

ul.messages li {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 5px;
}


.movies, .plot-twists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movies div, .plot-twists div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px; /* Ensures a minimum height for each grid item */
}

.movies img, .plot-twists img {
    width: 100%; /* Full width of the grid column */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.movie-info, .plot-info {
    text-align: center;
    padding: 10px 0;
}

.title {
    height: 4em; /* Sets a fixed height for titles */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limits the text to 2 lines */
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 600px) {
    .movies, .plot-twists {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .movies div, .plot-twists div {
        min-height: 250px;
    }
}