body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #20232a;
    color: #61dafb;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #61dafb;
    margin-right: 20px;
    text-decoration: none;
}

footer {
    color: white;
}

ul.messages {
    list-style-type: none;
    padding-left: 0;
}

ul.messages li {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 5px;
}

/* Grid layout for movies and plot twists */
.movies, .plot-twists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.movies div, .plot-twists div {
    text-align: center;
}

.movies img, .plot-twists img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Base container style */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}

/* Styles for movie details page */
.movie-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.movie-poster img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.movie-info {
    text-align: left;
    width: 100%;
    padding: 20px;
}

.plot-twist-submission {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.plot-twists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot-twist-card {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.buttons-container {
    display: flex;
    justify-content: space-evenly; /* Ensures even distribution of space around each button */
    gap: 10px; /* Consistent gap between buttons */
    padding: 10px 0; /* Vertical padding for better spacing */
}

button, .edit-link {
    background-color: #5a5a5a; /* Sophisticated neutral gray */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px; /* Provides ample clickable area without being too large */
    cursor: pointer;
    text-align: center;
    width: auto; /* Auto width based on content, ensuring uniformity */
    flex-grow: 1; /* Allows each button to grow evenly filling the container */
}

button:hover, .edit-link:hover {
    background-color: #404040; /* Slightly darker gray for hover effect */
}

.edit-link {
    background-color: transparent;
    color: #757575;
    text-decoration: none;
    padding: 8px 16px; /* Matches the button padding for uniformity */
    display: block; /* Makes the link behave like a button */
}

/* Remove form labels for cleaner look */
label {
    display: none;
}

/* Movie Search Page Specific Styles */
.search-container {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    width: 60%; /* Adjust width as necessary */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, a.button {
    background-color: #61dafb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

button:hover, a.button:hover {
    background-color: #559abc;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.search-results li {
    list-style-type: none;
}

.search-results img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.search-results a {
    color: #333;
    text-decoration: none;
}





@media (max-width: 768px) {
    .movie-detail-container {
        flex-direction: column;
    }

    .movie-info {
        text-align: center;
    }

    .plot-twists,
    .plot-twist-submission {
        width: 100%; 
    }
    .buttons-container {
        flex-direction: column; /* Stacks buttons vertically on smaller screens */
        align-items: center; 
    }

    button, .edit-link {
        width: 50%; 
        margin-bottom: 5px; 
    }
}

